@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
@import "~react-image-gallery/styles/scss/image-gallery.scss";
//global variables
$phone: 320px;
$tablet: 768px;
$primaryColor: #af9a7d;
$mainGreen: #29b347;
$NavbarColor: #b4d920;
$NavbarColorHover: #4444b3;
$mainFont: rgb(48, 48, 48);
$mainFontFamily: "Quicksand";
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

//global settings
body {
  width: 100%;
  background: #ffffff;
}
.no-padding {
  padding: 0px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

//fonts settings
h1 {
  font-family: $mainFontFamily;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-family: $mainFontFamily;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-family: $mainFontFamily;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-family: $mainFontFamily;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-family: $mainFontFamily;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-family: $mainFontFamily;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
//Start navbar
.Slider {
  height: 70vh;
}
.Slider-main {
  margin-bottom: 50px;
}
.navbar {
  align-items: unset !important;
  height: 90px;
  background: #b4d920;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nabar-toogle {
  height: 280px !important;
}
.navbar-brand {
  color: black !important;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 177px;
  height: 55px;
  left: 39px;
  top: 18px;
  .nav-icon {
    width: 54px;
    height: 55px;
    flex: none;
    align-self: center;
  }
  .nav-text {
    font-family: Oswald !important;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    display: flex;
    color: #000000;
    flex: none;
  }
}
//Style buttons

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in places because it's attached to the element that also moves up 5px) */
}

//End Styling
.nav-buttons {
  font-size: 1.4em;
  margin-left: auto;
  .nav-button {
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: $tablet) {
  .navbar {
    height: 90px !important;
  }
}
//End navbar
//Start footbar
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.footer-headers {
  background: #f2f2f2;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: left;
}
.footer-body {
  background: #f2f2f2;
  padding-left: 20px;
}

//End footbar
// Start Home Search

.search-bg {
  min-height: calc(60vh - 70px);
  background: url("https://cdn.discordapp.com/attachments/656944730537459722/706539200308314202/photo-1459865264687-595d652de67e.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .search-object {
    background: white;
    margin: 125px 100px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
  }
  @media screen and (max-width: $tablet) {
    .search-object {
      margin: 125px 1em;
    }
  }
  .search-button {
    color: black;
    background: #8aa718;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.42);
    border-radius: 17px;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    margin-top: 10px;
  }

  .search-filters {
    margin-top: 18px;
  }
}

.search-filters-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.4;
  margin-top: 7px;
}

.search-filter-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-filter-city-empty {
  opacity: 0;
}
.search-filter-city {
  z-index: 3;
  position: absolute;
  width: 85%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  box-sizing: border-box;
  outline: none;
  ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid gray;
    background-color: silver;
    li {
      padding: 10px 5px;
      cursor: pointer;
    }
    li:hover {
      background: lightgray;
      text-decoration: underline;
    }
  }
}
.search-calendar {
  min-width: 350px;
  max-width: 400px;
}
.search-calendarShow {
  visibility: visible;
  z-index: 2 !important;
  height: 30px;
}
.search-calendarHide {
  visibility: hidden;
  height: 30px;
}
@media screen and (max-width: $tablet) {
  .search-calendarShow {
    visibility: visible;
    z-index: 2 !important;
    height: 30px;
  }
  .search-calendarHide {
    visibility: hidden;
    height: 30px;
  }
}

// End Home Search
.choice {
  min-height: calc(70vh - 70px);
  background: #c8e25c;
  .choice-object {
    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 50px;
    margin: 5vw;

    .choice-header {
      margin: 33px 0px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
      position: relative;
      text-align: center;
    }
    @media screen and (max-width: $tablet) {
      .choice-header {
        font-size: 20px;
        margin: 10px 0px;
      }
    }

    .choice-sports {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      display: grid;
      grid-gap: 1em 1em;
      width: 70vw;
      margin: 0 auto;
      .choice-sports-objects {
        margin-bottom: 12px;
        padding: 2px 12px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
      }

      .choice-sports-body {
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 50%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 0px;
        text-align: center;
      }
      .choice-sports-icons {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        scale: 90%;
        cursor: pointer;
      }
      .choice-sports-text {
        text-align: center;
      }
    }
  }
}
.reserve {
  margin-top: 5vh;
}
.filters {
  border-bottom: 1px solid rgb(221, 210, 210);
  padding: 2em 1em;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filters-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.filter-section-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.filter-price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.places-object {
  border-radius: 10px;
  background: #b4d920;
  display: flex;
}
//placess
.places-centerColumn {
  height: 208px;
  width: 350px;
  margin: 16px 24px 0 16px;
  display: flex;
  flex-direction: column;
  .places-name {
    flex-grow: 1;
    display: flex;
    margin-bottom: auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .places-assessment {
    font-size: 12px;
    display: flex;
    margin-bottom: 6px;
    .places-score {
      color: wheat;
      background-color: red;
      padding: 0px;
      font-weight: 600;
      padding: 1px 4px;
      border-radius: 4px;
      margin-right: 6px;
    }
    .places-opinions {
      padding: 0px;
      margin: 1px 0 0;
    }
  }
  .places-tags-wrap {
    max-height: 16px;
    overflow: hidden;
    font-size: 12px;
    padding: 0px;
    .places-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .tag {
        white-space: nowrap;
      }
    }
  }
}
.places-localization {
  display: flex;
  border-top: 1px solid #7b94154f;
  flex-direction: column;
  padding-top: 8px;
  width: 100%;
  font-size: 13px;
  .places-localization-link {
    color: #0b7b99;
    cursor: pointer;
    font-weight: 600;
  }
  .places-localization-place {
    margin-bottom: 8px;
  }
}
.places-endColumn {
  display: flex;
  border-left: 1px solid #7b94154f;
  flex-direction: column;
  padding: 12px;
}
.places-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  .places-stack {
    display: flex;

    font-size: 20px;
    line-height: 42px;
    font-weight: 600;
  }
  .places-button {
    display: flex;

    border-radius: 4px;
    width: 102px;
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    max-width: 102px;
    background-image: linear-gradient(135deg, #ff690f 0%, #ee4719 100%);
    color: #fff;
    border: none;
  }
}

.places-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}
.places-counter {
  margin: 1em;
}
.places-price {
  display: flex;
}
.places-photo {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.places-show-more {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
}
//PlaceInfo

.place-header {
  display: flex;
  flex-direction: column;
  min-height: 78px;
  margin-top: 25px;
  margin-bottom: 24px;
  .place-header-name {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  .place-header-street-icon {
    margin-right: 5px;
    color: green;
  }
  .place-header-link-address {
    display: inline;
    color: black;
    font-size: 16px;
  }
}

.place-gallery {
  display: flex;
  flex-wrap: wrap;
  text-rendering: optimizeSpeed;
}

.place-text-block {
  height: 250px;
}
.place-comment-header {
  padding-right: 20px;
}
.place-text-header {
  font-size: 24px;
  font-weight: 600;
  margin: 12px;
  border-top: 2px black solid;
  line-height: normal;
  margin: 1.3em 0 0.7em;
}
.place-text {
  display: flex;
  text-align: justify;
  text-justify: inter-word;
  overflow-y: visible;
  max-height: 150px;
}
.place-middleColumn {
  display: flex;
  flex-wrap: wrap;
}
.place-benefits {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: grid;
  grid-gap: 1em 1em;
  width: 70vw;
  margin: 12px;
}
.place-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.place-price-value {
  font-weight: 600;
  font-size: 36px;
  margin: 0.2em;
  display: flex;
  justify-content: center;
}
.place-price-header {
  font-weight: 500;
  font-size: 24px;
}
.place-price-data {
  font-size: 48px;

  display: flex;
  justify-content: center;
}
.place-price-buttons {
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 50px;
  width: 100px !important;
  height: 100px !important;
  font-size: 54px;
  color: black;
}
.place-price-result {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}
.place-price-buttons:hover {
  background-color: "#0069d9";
  border-color: #0062cc;
  color: #0062cc;
}
.price-text-hours {
  font-size: 45px;
  margin: 0.2em;
}

.place-commentbox-row {
  display: flex;
  flex-wrap: wrap;
}
.place-add-comment {
  display: flex;
  flex-direction: column;
}
.place-add-comment-row {
  display: flex;
}
.place-comment-label {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.place-comment-textfield {
  width: 100%;
  border: 1px solid black !important;
}
.place-comment-input {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
}
.ccc {
  height: 1000px;
}
.place-comment-toast {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.place-comment {
  flex-wrap: wrap;
  text-rendering: optimizespeed;
}
.place-comment-review {
  display: flex;
  margin-bottom: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      .place-comment-reviewbox {
        padding-bottom: 28px;
        padding-top: 28px;
        border-bottom: 1px solid #e5ebf0;
        .place-comment-rev-up {
          display: flex;
          flex-wrap: wrap;
          text-rendering: optimizespeed;
          .place-comment-info {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 7px;
            letter-spacing: initial;
            text-transform: none;
          }
          .place-comment-date {
            min-width: 25%;
            width: auto;
            padding-left: 54px;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #647582;
          }
        }
        .place-comment-rev-box-down {
          display: flex;
          flex-wrap: wrap;
          text-rendering: optimizeSpeed;
          .place-comment-rev-box {
            display: flex;
            justify-content: flex-start;
            margin-top: 10px;
            font-size: 14px;
            line-height: 18px;
            flex: 0.25;

            .place-comment-rev-rating {
              min-width: 100px;
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
            }
          }
          .place-comment-rev-textbox {
            display: flex;
            flex-direction: column;
            width: 100%;
            p {
              font-size: 1em;
              text-overflow: ellipsis;
              word-wrap: break-word;
              margin-bottom: 2px;
              justify-content: flex-start;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
.place-comment-scroll {
  max-height: 300px;
  overflow-y: scroll;
}
.signIn-box {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  padding: 20px;
}
.login {
  display: flex;
}
.login-column {
  display: flex;
  flex-direction: column;
}
