@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
//global variables
$phone: 320px;
$tablet: 768px;
$primaryColor: #af9a7d;
$mainGreen: #29b347;
$NavbarColor: #b4d920;
$NavbarColorHover: #4444b3;
$mainFont: rgb(48, 48, 48);
$mainFontFamily: "Quicksand";
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

//global settings
body {
  width: 100%;
  overflow-x: scroll;
  background: #ffffff;
}

h1 {
  font-family: $mainFontFamily;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-family: $mainFontFamily;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-family: $mainFontFamily;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-family: $mainFontFamily;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-family: $mainFontFamily;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-family: $mainFontFamily;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
//Start navbar
.navbar {
  height: 90px;
  background: #b4d920;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nabar-toogle {
  height: 280px !important;
}
.navbar-brand {
  color: black !important;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 177px;
  height: 55px;
  left: 39px;
  top: 18px;
  .nav-icon {
    width: 54px;
    height: 55px;
    flex: none;
    align-self: center;
  }
  .nav-text {
    font-family: Oswald !important;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    display: flex;
    color: #000000;
    flex: none;
  }
}
//Style buttons

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

//End Styling
.nav-buttons {
  font-size: 1.4em;
  height: 50px;
  margin-left: auto;
  .nav-button {
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//End navbar
//Start footbar
.footer-headers {
  background: #f2f2f2;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: left;
}
.footer-body {
  background: #f2f2f2;
  padding-left: 20px;
}
//End footbar
// Start Home Search
.search-bg {
  min-height: calc(60vh - 70px);
  background: url("https://cdn.discordapp.com/attachments/656944730537459722/706539200308314202/photo-1459865264687-595d652de67e.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .search-object {
    background: white;
    height: 100px;
    margin: 125px 100px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
  }
  @media screen and (max-width: $tablet) {
    .search-object {
      margin: 125px 1em;
    }
  }
  .search-button {
    color: black;
    background: #8aa718;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.42);
    border-radius: 17px;
    margin: 26px 0;
    margin-left: 2em;
    padding-right: 2em;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: $tablet) {
    .search-button {
      margin-left: 1em;
    }
  }
  .search-line {
    margin-top: 27px;
    border-left: 30px solid black;
    transform: rotate(90deg);
  }
  .search-filters {
    margin-top: 18px;
    .search-filters-headers {
      font-weight: bold;
    }
  }
}
// End Home Search
.choice {
  min-height: calc(70vh - 70px);
  background: #c8e25c;
  .choice-object {
    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 50px;
    margin: 80px 100px;

    .choice-header {
      margin: 33px 0px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
      position: relative;
      text-align: center;
    }
    @media screen and (max-width: $tablet) {
      .choice-header {
        font-size: 20px;
        margin: 10px 0px;
      }
    }

    .choice-sports {
      margin: 20px 40px;
      .choice-sports-objects {
        height: 142px;
        max-width: 120px;
        margin: 3px 8px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
      }
      .choice-sports-text {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        align-items: center !important;
        line-height: 26px;
        display: flex;
        margin-left: 4px;
      }
      .choice-sports-body {
        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        flex: none;
        align-self: center;
        margin: 8px 12px 0;
      }
      .choice-sports-icons {
        width: 68px;
        height: 100px;
      }
    }
  }
}

.filters {
  border: 1px solid black;
  padding: 2em 1em;
  font-size: 22px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filters-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.filter-section-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

//Places

.places-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.places-counter {
  margin: 1em;
}

.place-object {
  border-radius: 36px 36px 90px 0px;
  background: #b4d920;
}

.place-image {
  border-radius: 36px 36px 90px 0px;
}

.place-rate {
  background: #b82525;
  border-radius: 19px 19px 31px 0px;
  font-size: large;
  height: 2.5em;
  color: black;
  font-weight: bold;
}
.place-name {
  font-size: 2em;
  line-height: 26px;
  display: flex;
}
.place-text {
  font-size: small;
}
.no-padding {
  padding: 0px;
}

.place-info {
  color: black;
  padding-left: 2em;
  padding-right: 2em;
}
.place-section {
  margin-top: 1em;
}
.place-button {
  background: #b82525;
  border-radius: 23px;
}
.place-show-more {
  background: #c93030;
  border-radius: 15px;
  margin: 3em 2em;
  height: 70px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
